@inherits Umbraco.Web.Macros.PartialViewMacroPage

<h4>@Model.MacroParameters["Title"]</h4>
<pre><button class="copy-code btn btn-outline-success">Copy</button><code class="language-cs">@Model.MacroParameters["Code"]</code></pre>