@inherits Umbraco.Web.Mvc.UmbracoViewPage

<div class="col-md-6 mb-4">
  <div class="card lazy-item">
    @*<img class="card-img-top" src="..." alt="Card image cap">*@
    <div class="card-body">
      <h5 class="card-title">@Model.Name</h5>
      <p class="card-text mb-0">@Model.Value("blogTeaser")</p>
      <a href="@Model.Url" class="stretched-link"></a>
    </div>
    <div class="card-footer">
      <small class="text-muted">@Model.CreateDate.ToShortDateString()</small>
    </div>
  </div>
</div>