
@model List<MyUmbraco.ViewModels.BlogPostCommentViewModel>

@foreach (var comment in Model)
{
  <div class="media flex-wrap border p-3 mb-4 blog-comment">
    <div class="align-self-start mr-4 d-flex flex-column text-center mw-100px">
      <img class="rounded-circle align-self-center mb-2" src="@comment.Avatar?width=75&height=75&mode=crop" alt="@comment.FullName">
      <p class="mb-0"><small>@comment.FullName</small></p>
    </div>
    <div class="media-body align-self-center">
      <p class="m-0">@comment.Comment</p>
    </div>
  </div>
}