@inherits UmbracoViewPage<List<MyUmbraco.ViewModels.BlogPostCommentViewModel>>

@{
  var blogPostId = Model != null && Model.Any() ? Model[0].BlogPostId : 0;
  var blogPostCommentCount = Html.Action("HandleGetBlogPostCommentCount", "BlogPostComments", new { blogPostId = blogPostId });
}
@if (Model != null && Model.Any())
{
  foreach (var comment in Model)
  {
    @Html.Partial("_BlogPostComment", comment)
  }
}

<div id="formOuter-BlogPost">
  @using (Ajax.BeginForm("HandleGetBlogPostComments", "BlogPostComments", null, new AjaxOptions
  {
    HttpMethod = "POST",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "formOuter-BlogPost"
  }, new { id = "form-BlogPost", @class = "m-auto" }))
  {
    <button id="btn-load-more" type="submit" class="btn btn-primary use-ajax" data-form="form-BlogPost" style="display:none;">Load More</button>
    
    <input id="blogPostId" name="blogPostId" value="@blogPostId" hidden />
    <input id="skip" name="skip" value="5" hidden />
    <input id="take" name="take" value="5" hidden />
  }
</div>

<input hidden id="skip-by" name="skip-by" value="5" />
<input hidden id="item-count" value="@blogPostCommentCount" />