@model IPublishedContent

<div class="row">
  <div class="col-md-12 mb-4">
    <div class="card">
      @*<img class="card-img-top" src="..." alt="Card image cap">*@
      <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
        <p class="card-text mb-0">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="@Model.Url" class="stretched-link"></a>
      </div>
      <div class="card-footer">
        <small class="text-muted">@Model.CreateDate</small>
      </div>
    </div>
  </div>
</div>