<a tabindex="0"
   class="btn btn-white py-0 border-0"
   role="button"
   data-toggle="popover"
   data-trigger="click"
   data-html="true"
   data-content="<small>This site is protected by reCAPTCHA and the Google</small><br/><small><a href='https://policies.google.com/privacy' target='_blank'>Privacy Policy</a> and <a href='https://policies.google.com/terms' target='_blank'>Terms of Service</a> apply.</small>">
  <img src='~/App_Themes/MyUmbraco/img/icon-recaptcha.png' alt='google reCAPTCHA logo'/>
</a>