@using MyUmbraco.ViewModels
@inherits Umbraco.Web.Mvc.UmbracoViewPage

@{
  Layout = "master.cshtml";
  var loginStatusModel = Members.GetCurrentLoginStatus();
  var blogPostId = Model.Id;
}

<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>@Model.Name</h1>
    </div>
  </div>
</div>

@Html.GetGridHtml(Model, "blogGrid", "bootstrap4")

<div class="container">
  @if (loginStatusModel.IsLoggedIn)
  {
    @Html.Partial("/Views/Partials/_BlogPostHighFive.cshtml", new BlogPostHighFiveViewModel { BlogPostId = blogPostId });
  }
  @{Html.RenderAction("Index", "BlogPostComments", new { blogPostId , skip = 0, take = 5});}
  @if (loginStatusModel.IsLoggedIn)
  {
    Html.RenderAction("Index", "BlogPostAddComment", new { blogPostId });
  }
</div>
